body{
    // background-image: url("../img/164747-anime-one_punch_man-saitama-black_and_white-design-x750.jpg");
    header{
        .create {
            width: 50%;
            #create-list{
                margin: 5px;
                border: none;
            }
            #create-list:focus{
                outline: none;
            }
            #add-list{
                margin: 5px;
                border: none;
            }
        }
    }
}