.all-lists {
    width: fit-content;

    .list-item {
        width: 30vw;

        .deleteList {
            color: red;
            background-color: transparent;
            border: none;
            font-weight: bolder;
            margin-left: 23vw;
            font-size: x-large;
        }

        .add-task {
            width: 90%;
        }
    }
}

.icon {
    background: transparent;
    border: none;
}

.finished {
    background-color: #0f0 !important;
}

.draggable {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
}

.dragging {
    opacity: 0.5;
}

.taskHolder{
    min-height: 80px;
}