.all-lists {
    width: fit-content;

    .list-item {
        width: 30vw;

        .add-task {
            width: 90%;
        }
    }
}

.icon {
    background: transparent;
    border: none;
}

.finished {
    background-color: #0f0;
}